/* Body */
body{
 background-image:url("https://images.unsplash.com/photo-1601850494422-3cf14624b0b3?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzNTc5fDB8MXxzZWFyY2h8MXx8bG9maSUyMGFuaW1lfGVufDB8fHx8MTcyNzAwMjM5NHww&ixlib=rb-4.0.3&q=80&w=2560");
}

/* Tjhi */
.eapps-widget .iGDhJF .djTjHI{
 background-image:url("https://images.unsplash.com/photo-1601850494422-3cf14624b0b3?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzNTc5fDB8MXxzZWFyY2h8MXx8bG9maSUyMGFuaW1lfGVufDB8fHx8MTcyNzAwMjM5NHww&ixlib=rb-4.0.3&q=80&w=2560");
 transform:translatex(3px) translatey(0px);
 min-width:0px;
 min-height:0px;
 max-height:51px;
}


